<form class="mt-4" method="POST" name="container-form" action="/courses/handle-form-action">
  <div>
    <h3>KHÓA HỌC ĐÃ XÓA</h3>
        <div class="mt-4 d-flex flex-row align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all">
           Chọn tất cả 
          </label>
        </div>
           <div class="col-auto my-1 ">
            <select class="custom-select mr-sm-2" name="action" required>
              <option value="" >Hành động</option>
              <option value="deleteMany">Xóa vĩnh viễn</option>
              <option value="restore">Phục hồi</option>
            </select>
          </div>
          <button class="btn btn-primary btn-sm checked-all-submit-btn" disabled = "disabled">Thực hiện</button>
      </div>
  </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">STT</th>
                <th scope="col">TÊN KHÓA HỌC</th>
                <th scope="col">TRÌNH ĐỘ</th>
                <th scope="col">THỜI GIAN XÓA</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr> 
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{this._id}}" name="courseIds[]">
                  </div>
                </td>
                <td scope="row">{{sum @index 1}}</td>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td >
                    <a href="" class="btn btn-primary btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a class="btn btn-danger" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal">Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center" >Thùng rác trống<a href="/me/stored/courses">.Danh sách khóa học</a></td>
            </tr>

            {{/each}}
        </tbody>
</table>

</form>

{{!-- confirm delete course --}}

<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Khóa học sẽ không thể khôi phục được.Bạn có chắc chắn muốn chứ ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded' , function(){
         var courseId ;
         var deleteForm = document.forms['delete-course-form'];
         var restoreForm = document.forms['restore-course-form'];
         var btnDeleteCourse = document.getElementById('btn-delete-course');
         var restoreBtn = $('.btn-restore'); 
         var checkboxAll = $('#checkbox-all'); 
         var courseItemCheckbox = $('input[name="courseIds[]"]');
         var checkedAllSubmitBtn = $('.checked-all-submit-btn');

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) ;
            courseId = button.data('id') ;
        
        });

        btnDeleteCourse.onclick = function(){
            deleteForm.action="/courses/" + courseId +"/force?_method=DELETE";
            deleteForm.submit();
            
        }
        restoreBtn.click(function(e){
            e.preventDefault();
            var courseId  =  $(this).data('id');
            restoreForm.action="/courses/" + courseId +"/restore?_method=PATCH";
            restoreForm.submit() 
        })
        // checked all change
        checkboxAll.change(function(){
          var isCheckedAll = $(this).prop('checked');
          courseItemCheckbox.prop('checked' , isCheckedAll );
          renderCheckAllSubmitBtn()
        })
         // Checkkbox item checkedbox change
        courseItemCheckbox.change(function(){
          var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length ;
            checkboxAll.prop('checked' , isCheckedAll);
            renderCheckAllSubmitBtn()
        })
        //Re-render check all submit
        function renderCheckAllSubmitBtn(){
          var checkCount = $('input[name="courseIds[]"]:checked').length ;
          if(checkCount > 0){
            checkedAllSubmitBtn.attr('disabled',false)
          }else{
            checkedAllSubmitBtn.attr('disabled',true)
          }
        }
 
        
    });

</script>